<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:utext="#{admin.title}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" />-->
  </head>

  <body>
    <div class="input-container">
      <h2 class="mb-4 text-center" th:utext="#{admin.title}"></h2>
      <form method="post" th:action="@{/admin}" th:object="${adminUser}">
        <div class="mb-3">
          <label for="username" class="form-label" th:text="#{admin.name.label}"
            >Username</label
          >
          <input
            type="text"
            id="username"
            th:field="*{username}"
            class="form-control"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="password"
            class="form-label"
            th:text="#{admin.password.label}"
            >Password</label
          >
          <input
            type="password"
            id="password"
            th:field="*{password}"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{admin.button}">
          send
        </button>
      </form>
    </div>
  </body>
</html>
