<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <title th:utext="#{start.title}"></title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" crossorigin="anonymous">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
      <style>
          .btn {
              transition: color 0.3s ease; /* Sanfter Übergang */
          }
          .btn.white {
              color: white;
          }
          .btn.red {
              color: red;
          }
          .btn.green {
              color: green;
          }
      </style>
  </head>
  <body style="background-color: var(--bs-dark);">
    <div
      class="modal fade"
      id="addWishDialog"
      tabindex="-1"
      aria-labelledby="addWishDialogLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: var(--bs-gray-dark); color: white;">
          <div class="modal-header">
            <h4 class="modal-title" th:utext="#{add.wish.title}">
              Modal Heading
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" style="text-align: center">
            <form method="post" th:action="@{/}" th:object="${newWish}">
              <div class="row">
                <div class="col-4">
                  <p
                    style="white-space: nowrap"
                    th:utext="#{start.songName}"
                  ></p>
                </div>
                <div class="col-8">
                  <input required th:field="*{songName}" style="background-color: var(--bs-dark); color:white"/>
                </div>

                <div class="col-4">
                  <p style="white-space: nowrap" th:utext="#{start.artist}"></p>
                </div>
                <div class="col-8">
                  <input th:field="*{artist}" style="background-color: var(--bs-dark); color:white"/>
                </div>

                <div class="col-4">
                  <p style="white-space: nowrap" th:utext="#{start.issuer}"></p>
                </div>
                <div class="col-8">
                  <input th:field="*{issuer}" style="background-color: var(--bs-dark); color:white"/>
                </div>
                <div>
                  <button
                    type="submit"
                    th:title="#{add.wish.send}"
                    style="width: 70%"
                  >
                    <i class="fa-regular fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <h1 th:utext="#{start.title}" style="text-align: center; color: white"></h1>
    <table
      style="margin-left: auto; margin-right: auto"
      class="table table-dark table-bordered"
    >
      <thead>
        <tr>
          <th>
            <span th:utext="#{start.songName}">songName</span>
          </th>
          <th>
            <span th:utext="#{start.artist}">artist</span>
          </th>
          <th>
            <span th:utext="#{start.issuer}">issuer</span>
          </th>
          <th style="text-align: center">
            <span th:utext="#{start.upvotes}">upvotes</span>
          </th>
          <th style="text-align: center">
            <button
              type="button"
              class="btn fa-solid fa-plus"
              style="color: green"
              th:title="#{start.addWish}"
              data-bs-toggle="modal"
              data-bs-target="#addWishDialog"
            ></button>
          </th>
        </tr>
      </thead>
      <tbody style="text-align: right">
        <tr th:if="${#maps.isEmpty(wishlist)}">
          <td style="text-align: center" colspan="5">
            <strong th:utext="#{start.nothingToShow}"></strong>
          </td>
        </tr>
        <tr th:each="wishEntry : ${wishlist}">
          <td>
            <span th:utext="${wishEntry.key.songName}"></span>
          </td>
          <td>
            <span th:utext="${wishEntry.key.artist}"></span>
          </td>
          <td>
            <span th:utext="${wishEntry.key.issuer}"></span>
          </td>
          <td style="text-align: center">
            <span th:utext="${wishEntry.value.totalVotes}"></span>
          </td>
          <td style="text-align: center">
              <div style="display: inline-flex">
                  <div style="display: inline-flex" th:if="${not sessionId.equals(wishEntry.key.getIssuerId())}">
            <form
              method="post"
              th:action="@{'/upvote/__${wishEntry.key.id}__'}"
            >
              <button
                class="btn fa-solid fa-thumbs-up"
                th:classappend="${wishEntry.key.isUpvotedBy(sessionId) ? 'green' : 'white'}"
              ></button>
            </form>
              <a
                      type="button"
                      class="btn fa-solid fa-thumbs-down"
                      th:classappend="${wishEntry.key.isDownvotedBy(sessionId) ? 'red' : 'white'}"
                      th:href="@{'/downvote/__${wishEntry.key.id}__'}"
              ></a>
                  </div>
              <a
                      type="button"
                      class="btn fa-solid fa-trash-can"
                      style="color: white"
                      th:href="@{'/delete/__${wishEntry.key.id}__'}"
                      th:if="${wishEntry.key.canBeDeletedBy(sessionId) or isAdmin}"
              ></a>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
