<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:utext="#{user.title}"></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/global.css}" />
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" />-->
  </head>

  <body>
    <div class="input-container">
      <h2 class="mb-4 text-center" th:utext="#{user.title}"></h2>
      <form method="post" th:action="@{/user}" th:object="${user}">
        <div class="mb-3">
          <label for="name" class="form-label" th:text="#{user.name.label}"
            >Name</label
          >
          <input
            hidden="hidden"
            type="text"
            id="sessionId"
            th:field="*{sessionId}"
            class="form-control"
          />
          <input
            type="text"
            id="name"
            th:field="*{name}"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{user.button}">
          send
        </button>
      </form>
    </div>
  </body>
</html>
